<div id="indexSidebar">
  <h4><a href="http://github.com/archiloque/tidal">About</a></h4>

  <h4>Feeds</h4>

  <ul>
    <% @feeds_per_category.keys.sort.each do |category| %>
        <% feeds = @feeds_per_category[category] %>
        <li><h5><%= category %></h5>
          <ul>
            <% feeds.each do |feed| %>
                <%= "<li><a href=\"#{feed.site_uri}\">#{feed.name}</a></li>" %>
            <% end %>
          </ul>
        </li>
    <% end %>
  </ul>
</div>

<div>
  &nbsp;
  <h1 id="indexTitle">〰 Tidal, Archiloque's feed reader</h1>

  <% for post in @posts %>
      <% feed = @feeds_per_id[post.feed_id] %>
      <% link = post.uri %>
      <% if link
             link = join_and_canonize(feed.site_uri, link)
         end %>
      <%= "<div class=\"postHeader\">〰 " +
                  "<a href=\"#{feed.site_uri}\">#{feed.name}</a> – #{link ? "<a href=\"#{link}\">#{post.title}</a>" : post.title}" +
                  "<span class=\"postDate\"> #{post.published_at.strftime("%d/%m %H:%M")}</span>" +
                  "</div>" %>
      <%= "<div class=\"postContent\">#{post.content}</div>" %>
  <% end %>
</div>
