<div id="readerSidebar">
  <div id="readerFeedsInfo"></div>
  <h4 id="readerLogout"><a href="/logout">Logout</a></h4>
</div>
<div id="readerContent">
<- Choose a category on the left to display the corresponding data.
</div>
