#pageTitle {
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 32px;
}

fieldset {
  padding: 5px;
  border: 1px solid #b0b0b0;
  margin-bottom: 10px;
}

fieldset li {
  list-style: none;
  padding-bottom: 4px;
}

fieldset ul {
  padding-bottom: 5px;
}

#adminContent {
  position: absolute;
  top: 25px;
  left: 10px;
}

#adminLeft {
  display: inline-block;
  width: 470px;
  padding-right: 20px
}

#adminLeft li label {
  display: inline-block;
  width: 90px;
}

#adminRight {
  float: right;
}
#adminRight table {
  border-collapse: collapse;
}
#adminRight table td, #adminRight table th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
}